<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturas Escaneadas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <h1>Facturas Escaneadas</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <form action="/delete_all" method="post" style="margin-top: 20px;">
        <input type="submit" value="Eliminar Todas las Facturas">
    </form>
    <table border="1" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Título</th>
                <th>Dato</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td>{{ factura.titulo }}</td>
                <td>{{ factura.dato }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
