<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturas Escaneadas</title>
</head>
<body>
    <h1>Facturas Escaneadas</h1>
    <form action="/delete_all" method="post">
        <input type="submit" value="Borrar todos los registros">
    </form>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripción o Motivo</th>
                <th>Importe</th>
                <th>Hora</th>
                <th>Nombre del Emisor</th>
                <th>Folio</th>
                <th>Beneficiario o Receptor</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td>{{ factura.fecha }}</td>
                <td>{{ factura.descripcion }}</td>
                <td>{{ factura.importe }}</td>
                <td>{{ factura.hora }}</td>
                <td>{{ factura.emisor }}</td>
                <td>{{ factura.folio }}</td>
                <td>{{ factura.beneficiario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
