<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOM AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/index2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" />
</head>

<body>

    <!-- Menú de navegación -->
    <nav>
        <span class="openbtn" onclick="openNav()"><i class="fas fa-gem"></i> Menu</span>
        <div class="menu">
            <a href="#quehacemos">¿Qué hacemos?</a>
            <a href="#servicios">Servicios</a>
            <a href="#sortafolio">Portafolio</a>
            <a href="#dudas">Dudas</a>
            <a href="#tu empresa">Tu empresa</a>
            <a href="#login"><i class="fas fa-user"></i></a>
        </div>
    </nav>

    <!-- Menú lateral -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/prediccion_ventas">Predicción de Ventas</a>
        <a href="/proveedores">Proveedores</a>
        <a href="/clientes">Clientes</a>
        <a href="/reportes">Reportes</a>
        <a href="/ajustes">Ajustes</a>
    </div>



    <div id="main">

        <!-- Contenido principal -->
       
            <div id="quehacemos">
                <h1>llegamos a donde vives,
                    hacemos preguntas y mejoramos tu empresa con software.</h1>
                    <h2>Sobre Nosotros</h2>
                    <p>BOOM AI es una empresa dedicada a mejorar los negocios a través de la inteligencia artificial. Ofrecemos
                        soluciones personalizadas para cada cliente, asegurando un crecimiento constante y sostenible.</p>
            </div>
            <h1>s</h1>
            <h1>s</h1>
            <h1>s</h1>
            <div id="quehacemos">
                <h1>llegamos a donde vives,
                    hacemos preguntas y mejoramos tu empresa con software.</h1>
                    <h2>Sobre Nosotros</h2>
                    <p>BOOM AI es una empresa dedicada a mejorar los negocios a través de la inteligencia artificial. Ofrecemos
                        soluciones personalizadas para cada cliente, asegurando un crecimiento constante y sostenible.</p>
            </div>
            <h1>s</h1>
            <h1>s</h1>
            <h1>s</h1>



            

        <script src="{{ url_for('static', filename='scripts/scripts2.js') }}"></script>
    </div>
</body>

</html>