<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOM AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos/index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-..." crossorigin="anonymous" />


</head>
<body>
  <!-- Menú de navegación -->
  <nav>
    <!-- <span class="openbtn" onclick="openNav()"><i class="fas fa-gem"></i> Menu</span>-->
     <span></span>
    <div class="menu">
      
      <a href="#registrarse" id="showRegisterForm">Registrarse</a>
      <a href="#iniciar-sesion" id="showLoginForm">Iniciar sesion</a>
      

    </div>
  </nav>
  
  {% include 'login.html' %}

  <div id="main">



  </div>







  <script src="{{ url_for('static', filename='scripts/general.js') }}"></script>

</body>

</html>