<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOM AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/index2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
</head>
<body>

    <!-- Menú de navegación -->
    <nav>
        <span class="openbtn" onclick="openNav()">☰ Menu</span>
        <div class="menu">
        </div>
        <div class="login">
            <a href="#about">Acerca de</a>
            <a href="#services">Servicios</a>
            <a href="#contact">Contacto</a>
            <a href="#login"><i class="fas fa-user"></i></i>
            </a>
        </div>
    </nav>

    <!-- Menú lateral -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/prediccion_ventas">Predicción de Ventas</a>
        <a href="/proveedores">Proveedores</a>
        <a href="/clientes">Clientes</a>
        <a href="/reportes">Reportes</a>
        <a href="/ajustes">Ajustes</a>
    </div>
<div id="main">
    <!-- Contenido principal -->
    <div class="container">
        <div class="logo">
            <h1>Bienvenido a</h1>
            <h1>BOOM AI</h1>
        </div>
    </div>

    <div class="content">
        <h1>La mejora de tu negocio</h1>
        <h1>a la palma de la mano!</h1>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="center-side" id="center-side">
        <p>Sean bienvenidos a BOOM AI, llegamos a donde vives,
        hacemos preguntas y mejoramos tu empresa con software.
        </p>

    </div>

    <script src="{{ url_for('static', filename='scripts/scripts2.js') }}"></script>
</div>
</body>
</html>
