<!DOCTYPE html>

<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Librería Virtual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./estilos/Diseño.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./estilos/esns.css') }}">
</head>

<header class="encabezado">
<nav>
<ul>
<li><a href="#">Inicio</a></li>
                
                <li><a href='registro_usuario.html'>Registrarse</a>

                  <li><a href="#">Iniciar sesion</a>
                    <ul>
                       <li>
                        <li><a href='Login_3.html'>Admin</a>
                            <li><a href='iniciosesione.html'>Empleado</a>
                            <li><a href='iniciosesion.html'>Cliente</a>
                        </li>
                    </ul>




                <li><a href="#">Contactenos</a>
                <ul>
                   <li>
                    <a href="#"></a>
                    <ul>
                    <li><a href="#"></a></li>
                    </ul>
                   </li>
                   <li>
                    <a href="#">Telefono:</a>
                    <ul>
                    <li><a href="#">449</a></li>
                    </ul>
                   </li>
                   <li>
                    <a href="#"></a>
                    <ul>
                    <li><a></a></li>
                   
                    <li><a></a></li>
                    <li><a></a></li>
                    <li><a></a></li>
                    <li><a></a></li>
                    </ul>
                   </li>
                   <li>
                    <a href="#">Más...</a>
                    <ul>
                    <li><a href="#"></a></li>
                    </ul>
                   </li>
               </ul>
            </ul>
        </nav>
    </header>
<body>

  <main>
    <section class="contenedor sobre-nosotros">
        <h2 class="titulo"><p style="color:#990000";>Información</p></h2>
        <div class="contenedor-sobre-nosotros">
            <img src="ilustracion2_n.png" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Introducción</h3>
                <p>.</p>
                <h3><span>2</span>Servicios</h3>
                <p></p>
            </div>
        </div>
    </section>
    <section class="portafolio">
        <div class="contenedor">
            <h2 class="titulo"><p style="color:#990000";>Libros</p></h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="img1_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 1</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img2_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 2</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img3_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 3</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img4_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 4</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img5_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 5</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img6_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 6</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img7_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 7</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img8_n.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="icono1_n.png" alt="">
                        <p>Ejemplo 8</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="about-services">
        <div class="contenedor">
            <h2 class="titulo"><p style="color:#990000";>Nuestros servicios</p></h2>
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="ilustracion1_n.png" alt="">
                    <h3><p style="color:#990000";>Administrador</p></h3>
                    <p>Los administradores podrán verificar que la página este funcionando correctamente.</p>
                </div>
                <div class="servicio-ind">
                    <img src="ilustracion4_n.png" alt="">
                    <h3><p style="color:#990000";>Empleado</p></h3>
                    <p>Los empleados se encargarán de recibir los pagos de las compras y enviar los libros.</p>
                </div>
                <div class="servicio-ind">
                    <img src="ilustracion3_n.png" alt="">
                    <h3><p style="color:#990000";>Cliente</p></h3>
                    <p>Los clientes .</p>
                </div>
            </div>
        </div>
    </section>
    </main>
    <footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Teléfono</h4>
            <p><p style="color:#ffffff";></p></p>
        </div>
    
        <div class="content-foo">
            <h4>Locación</h4>
            <p><p style="color:#ffffff";>"</p></p>
        </div>
        <div class="content-foo">
            <h4></h4>
            <p><p style="color:#ffffff";></p></p>
        </div>
    </div>
    <h2 class="titulo-final"><p style="color:#ffffff";>&copy;  | </p></h2>
    </footer>
    
</body>
</html>

