body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff; /* Color de fondo base */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2300000" fill-opacity="1" d="M0,96L48,117.3C96,139,192,181,288,176C384,171,480,117,576,128C672,139,768,213,864,229.3C960,245,1056,203,1152,165.3C1248,128,1344,96,1392,80L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>'); /* SVG para el patrón de olas */
  /* Añadir la imagen de fondo */
  background-size: cover; /* Para cubrir todo el fondo */
  background-position: center; /* Posición centrada */
  animation: moveBackground 30s linear infinite; /* Animación de movimiento */
}

@keyframes moveBackground {
  from {
    background-position: 0 0; /* Empieza desde la posición inicial */
  }
  to {
    background-position: 100% 0; /* Termina en la posición final */
  }
}

/* Barra nav de hasta arriba */
nav {
  background-color:  hwb(0 13% 87% / 0.99);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed; /* Mantiene la barra fija en la parte superior */
  top: 0; /* Fija la barra en la parte superior de la ventana */
  width: 98%; /* Asegura que la barra ocupe todo el ancho de la ventana */
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 900; /*  */
}


/* Estilos del login top menu*/

.menu a{
  padding: 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: inline-block;
  transition: 0.3s;
}

.menu a:hover  {
  box-shadow: 0 4px 8px rgba(0, 206, 201, 1); /* Sombra para dar un efecto de elevación */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/*Estilos del boton menu cuando esta cerrado*/
.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: #181414;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-right: auto;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.openbtn:hover {
  box-shadow: 0 4px 8px rgba(0, 206, 201, 1); /* Sombra para dar un efecto de elevación */
  transition: 0.6s;
}

/* Estilos del side bar menu cuando esta abierto*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 901;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #00ffff;
  background-color: #000000;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 25px;
}

/* Contenido principal */
#main {
  margin-top: 80px; /* Ajusta el margen superior según el tamaño de tu barra de navegación */
  padding: 40px;
  text-align: center; /* Centrar el contenido */
  transition: 0.5s ease-in; /* Transición */
  font-family: 'Roboto', sans-serif; /* Fuente elegante */
}

.container:hover {
  opacity: 0; /* Hace que el contenedor desaparezca al 0% de opacidad */
}

#main h1 {
  text-align: center; 
  font-size: 3rem; /* Tamaño grande para los títulos */
  margin-bottom: 20px;
}

#main h2 {
  text-align: center; 
  font-size: 2.5rem; /* Tamaño grande para los títulos */
  margin-bottom: 20px;
}

#main p {
  font-size: 1.5rem; /* Tamaño del texto */
  line-height: 1.6; /* Espaciado de línea */
  text-align: center;
}

#main .button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #00b894; /* Color de fondo del botón */
  color: #ffffff; /* Color de texto del botón */
  text-decoration: none;
  border-radius: 25px; /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s;
}

#main .button:hover {
  background-color: #00cec9; /* Color de fondo del botón al pasar el mouse */
  color: #ffffff; /* Color de texto del botón al pasar el mouse */
}

@media (max-width: 768px) {
  #main {
    padding: 10vw; /* Ajustes para pantallas más pequeñas */
  }
}

/* Logo, frase promocional, imgs Trabajos --->Parte 1*/

.logo{

  
}

.quehacemos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
  height: 100%;
 
}
.section {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section:nth-child(1) {
  
}
.section:nth-child(2) {

}
.section:nth-child(3) {

}

/* Clase highlight para bordes en los textos en diagonal*/

.highlight {
  padding: 10px; /* Espacio interno alrededor del texto */
  border: 2px solid #ffffff; /* Grosor y color del borde */
  border-radius: 15px; /* Bordes redondeados */
  background-color: #ffffff; /* Color de fondo del cuadro */
  margin: 0 200px; /* Margen externo opcional */
  display: inline-block; /* Mantener el borde alrededor del texto */
  box-shadow: 0 4px 8px rgba(0, 206, 201, 1); /* Sombra para dar un efecto de elevación */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave para el hover */
  z-index: 800; /* Asegura que esté detrás de la barra de navegación */
  transform: translateZ(0); /* Optimización para la claridad del texto */
  backface-visibility: hidden; /* Optimización para la claridad del texto */
  will-change: transform; /* Optimización para la claridad del texto */
}

.highlight:hover {
  box-shadow: 0 8px 16px rgba(0, 206, 201, 0.2), 0 0 20px rgba(0, 206, 201, 0.4); /* Sombra más grande al pasar el mouse */
  transform: scale(1.05) rotate(5deg); /* Agrandar ligeramente el cuadro y aplicar rotación */
  
}



